/* sketch.module.scss */
.soundObject {
  // color: $primary-color;
  font-size: 24px;
  background-color: orange;
  height: 300px;
  width: 300px;
  // border-radius: 300px;
  border-radius: 100%;
}
