/* portal.module.scss */
// .soundObject {
//   // color: $primary-color;
//   font-size: 24px;
//   background-color: orange;
//   height: 300px;
//   width: 300px;
//   // border-radius: 300px;
//   border-radius: 100%;
// }

.multiController {
  // text-transform: capitalize;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
  color: white;

  div div {
    // display: flex;
    display: grid;
    // width: 100%;
    // height: 260px;
    min-height: fit-content;
    // overflow: hidden;
    // position: relative;
    // flex-direction: column;
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    // gap: 5px;
    // padding: 20px;
    // align-items: top;
    // justify-items: center;
    // justify-content: top;
    // font-size: 1.7vw;
    // text-align: left;
    // opacity: 0.5;
    // opacity: 0.5;
    // word-break: break-all;

    .saveButton {
      // position: absolute;
      // border: 1px solid white;
      // padding: 5px;
      // border-radius: 5px;
      z-index: 8;
      // right: 0;
      margin: 5px 10px;
      text-align: right;
      justify-content: right;
      height: 0px;
      // background-color: blue;
    }

    .outerButton {
      padding: 0px 20px;
      // height: 5vh;
      width: 100%;
      // height: 7vh;

      div {
        width: 100%;
      }

      .soundText {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));

        .soundNumber {
          font-size: 12rem;
          line-height: 0rem;
          // padding: 0px;
          // margin-top: 4rem;
          // margin-bottom: -6rem;
          // // transform: rotate(90deg) !important;
          // pointer-events: none;
          // // height: 60px;
          // // background-color: blue;
          // text-align: center;
        }

        .soundName {
          font-size: 1.3rem;
          margin-top: 30px;
          // max-height: 3.5rem;
          // overflow: hidden;
          // display: block; /* or inline-block */
          text-overflow: ellipsis;
          word-wrap: break-word;
          overflow: hidden;
          max-height: 2rem;
          line-height: 1.3em;
        }
      }
    }
  }
}

.soundInfoPanel {
  position: absolute;
  z-index: 9999999;
  // bottom: 20vh;
  // left: 10px;
  // right: 10px;
  // right: 0;
  opacity: 1 !important;
  color: white;
  // max-height: fit-content;
  // background-color: green;
  width: 50%;
  // padding: 20px;
  // margin: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgba(9, 101, 146, 1) !important;
  // backdrop-filter: blur(6px);
  // -webkit-backdrop-filter: blur(2px);
  padding: 40px 60px;
  overflow: auto;
  // max-height: 80vh;

  ul {
    list-style: none;
  }

  p {
    margin-top: 1rem;
  }
}

.saveDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
