/* portal.module.scss */

.multiController {
  // text-transform: capitalize;
  display: grid;
  gap: 0px;
  // grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  // grid-template-columns: 12fr 12fr 12fr 12fr 12fr 1fr;
  grid-template-columns: repeat(5, 20fr) 1fr;
  color: white;
  align-items: start;

  .soundItem {
    .outerDiv div {
      gap: 0px;
      display: relative;

      .outerButton {
        padding: 10px;
        display: flex;
        height: 7.4rem;
        width: 100%;

        .soundText {
          display: flex;
          align-items: flex-start;

          .soundNumber {
            font-family: 'Noto Sans Linear A', sans-serif;
            font-size: 10rem;
            line-height: 3.3rem;
          }

          .soundName {
            font-size: 1.3rem;
            margin-left: 15px;
            overflow-wrap: anywhere;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 1.6rem;
            max-height: 6.4rem; /* Limiting to 2 lines */
            -webkit-line-clamp: 4; /* Specify the number of lines */
            -webkit-box-orient: vertical;
          }
        }
      }

      .infoButton {
        font-family: 'Noto Sans Linear A', sans-serif;
        font-size: 1.6rem;
        bottom: 0;
        z-index: 8;
        text-align: right;
        justify-content: right;
        width: 100%;
        padding: 0px 12px 5px 0px;
        color: white;

        &:hover {
          color: black;
        }
      }
    } // end outerDiv div
  } // end soundItem

  .saveSnapshotButton {
    // text-transform: uppercase;
    letter-spacing: 0.3rem;
    // font-family: var(--font-basteleurB);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: left;
    // background-color: rgba(255, 0, 89, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    // border: 1px solid rgba(255, 0, 89, 1);
    // opacity: 0.7;
    color: rgba(255, 255, 255, 0.7);
    max-width: fit-content;
    // height: 7.4rem;
    height: 100%;
    padding: 14px 10px;
    // height: 300px;

    &:hover {
      // opacity: 1;
      background-color: rgba(255, 0, 89, 1);
      color: black;
    }
  }
} // end multiController

.soundInfoPanel {
  position: absolute;
  z-index: 8;
  word-wrap: break-word;
  padding: 0px;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  overflow: auto;
  max-height: 80vh;

  img {
    max-width: 100%;
  }

  .title {
    align-items: center;
    margin: 0px 40px;

    h2 {
      margin: 0;
      padding: 0;
    }

    .infoSoundNumber {
      font-family: 'Noto Sans Linear A', sans-serif;
      font-size: 14rem;
      margin-top: -6rem;
      margin-bottom: 0px;
      line-height: 14rem;
      text-align: left;
    }
  }

  .content {
    padding: 20px 40px 60px 40px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    p {
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    .heavy {
      font-family: var(--font-basteleurB);
    }
  }
} // end soundInfoPanel

.saveDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
