.noClick {
  pointer-events: none;
}

.start {
  display: grid;
  height: 97vh;
  justify-content: center; /* aligns the items horizontally */
  align-items: center; /* aligns the items vertically */
  // background: rgb(43, 23, 56);
  // background: radial-gradient(
  //   circle,
  //   rgba(43, 23, 56, 1) 0%,
  //   rgba(18, 22, 52, 1) 0%,
  //   rgba(0, 0, 0, 1) 100%
  // );
}

.projection {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  /* top: 0;   */
  bottom: 2vh;
  margin: auto;
  // pointer-events: none;
  text-align: center;
  // opacity: 0;
}

.projection a {
  color: white;
  text-decoration: none;
}

.projection a:hover {
  color: yellow;
  text-decoration: none;
}

.projectionStart {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 3vw;
  font-family: var(--font-basteleurM);
}

.projectionStart:hover {
  cursor: pointer;
}

.star {
  opacity: 0;
  color: rgb(255, 0, 89);
  font-size: 6vw;
  // font-size: 10vw;
  // text-shadow: #fc0 1px 0 10px;
}

.star:hover {
  cursor: pointer;
}

.occult {
  // opacity: 0.4;
  pointer-events: none;
  mix-blend-mode: soft-light;
}

.earthsong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  font-size: 15vw;
  line-height: 15vw;
}

.initiating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  font-size: 6vw;
  // line-height: 8vw;
  // text-transform: uppercase;
}

.instruction {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 0;   */
  bottom: 2vh;
  margin: auto;
  z-index: 8;
  // pointer-events: none;
  text-align: center;
  // opacity: 0;
}

// .neonText {
//   color: #fff;
//   text-shadow:
//     0 0 7px #fff,
//     0 0 10px #fff,
//     0 0 21px #fff,
//     0 0 42px rgb(255, 230, 0),
//     0 0 82px rgb(255, 230, 0),
//     0 0 92px rgb(255, 230, 0),
//     0 0 102px rgb(255, 230, 0),
//     0 0 151px rgb(255, 230, 0);
// }

.backToMapIcon,
.userIcon,
.helpIcon {
  color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

.userIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.helpIcon {
  position: absolute;
  bottom: 0;
  right: 8vw;
  padding: 23px;
}

.backToMapIcon {
  position: absolute;
  // left: 50%;
  // transform: translate(-50%, 0);
  bottom: 0;
  left: 0;
  // width: 100%;
  padding: 20px;
}

.modal {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  // background-color: rgba(255, 0, 89, 0.5);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  // background-color: rgba(0, 247, 255, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(2px);
  padding: 40px 60px;
  overflow: auto;
  max-height: 80vh;
}

.uiButton {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  width: fit-content;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
  }
}

.userButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  button {
    padding: 0.8rem 1.2rem;
    // background-color: rgba(255, 0, 89, 1);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    // font-family: var(--font-basteleurB);

    &:hover {
      background-color: rgba(255, 0, 89, 1);
      // color: white;
    }
  }
}

.summon {
  margin-top: 20px;

  .snapshots {
    ul {
      margin-top: 20px;
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
    }

    li {
      button {
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 1);
        width: fit-content;
        padding: 0.8rem 1.2rem;
        background-color: rgba(0, 0, 0, 0.5);

        &:hover {
          // opacity: 1;
          background-color: rgba(255, 0, 89, 1);
          color: black;
        }
      }
    }
  }
}

.journey {
  margin: 40px 0px;

  input {
    margin: 10px 0px;
    border: none;
    padding: 5px;
    font-family: var(--font-basteleurM);
  }
}

.uiModal {
  position: absolute;
  z-index: 8;
  word-wrap: break-word;
  padding: 0px 0px 40px 40px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  overflow: auto;
  max-height: 80vh;

  .title {
    align-items: center;
    margin: 0px 40px;

    h2 {
      margin: 0;
      padding: 0;
    }

    .infoSoundNumber {
      font-family: 'Noto Sans Linear A', sans-serif;
      font-size: 14rem;
      margin-top: -6rem;
      margin-bottom: 0px;
      line-height: 14rem;
      text-align: left;
    }
  }

  .content {
    padding: 20px 40px 60px 40px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    p {
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    .heavy {
      font-family: var(--font-basteleurB);
    }
  }
} // end soundInfoPanel

.loginPanel {
  p {
    margin-bottom: 20px;
    line-height: 2rem;
  }
  h2 {
    margin: 20px 0px 10px 0px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      font-family: var(--font-basteleurM);
      margin-left: 10px;
    }
  }
  button {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
    width: fit-content;
    padding: 0.8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);

    &:hover {
      // opacity: 1;
      background-color: rgba(255, 0, 89, 1);
      color: black;
    }
  }
}

.heavy {
  font-family: var(--font-basteleurB);
}

.textButton {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  color: rgba(255, 0, 89, 1);
  font-family: var(--font-basteleurB);
  font-size: 1.3rem !important;
}

.helpPanel {
  position: absolute;
  z-index: 8;
  word-wrap: break-word;
  padding: 0px;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  overflow: auto;
  max-height: 70vh;

  img {
    max-width: 100%;
  }

  .title {
    align-items: center;
    margin: 0px 40px;

    h2 {
      margin: 0;
      padding: 0;
    }

    .infoSoundNumber {
      font-family: 'Noto Sans Linear A', sans-serif;
      font-size: 14rem;
      margin-top: -6rem;
      margin-bottom: 0px;
      line-height: 14rem;
      text-align: left;
    }
  }

  .content {
    padding: 20px 40px 60px 40px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .arrow {
      transform: rotate(45deg);
      display: absolute;
      -webkit-transform: rotate(45deg);
      height: 100px;
      width: 100px;
    }

    .keyboardCommands {
      li {
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          // padding: 20px;
          border: solid white 2px;
          border-radius: 15px;
          text-align: center;
          margin: 0px 10px;
          font-family: var(--font-basteleurB);
        }
      }
    }

    p {
      margin-top: 2rem;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    .heavy {
      font-family: var(--font-basteleurB);
    }
  }
} // end helpPanel

.helpOverlay {
  position: absolute;
  z-index: 8;
  word-wrap: break-word;
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.7);
  // border-radius: 5px;
  backdrop-filter: blur(2px);
  overflow: hidden;
  // max-height: 70vh;

  .content {
    padding: 20px 40px 60px 40px;

    h3 {
      // margin-bottom: 0.5rem;
      text-transform: uppercase;
      // border-bottom: 1px solid white;
      max-width: fit-content;
      // padding: 5px;
      // border-radius: 10px;
      color: rgba(255, 0, 89, 1);
      padding: 0;
      margin: 0;
    }

    h2 {
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    p {
      // margin-top: 2rem;
      // font-size: 1.3rem;
      // line-height: 2rem;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, 4fr) 1fr;
      // align-items: flex-start;
      // justify-content: flex-start;

      li {
        list-style: none;
        // display: flex;
        // margin-left: 1rem;
        // margin-bottom: 1rem;
        // align-items: flex-start;
        // justify-content: flex-start;

        .inner {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
          // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          padding-left: 40px;
          margin-left: 20px;
          // border-radius: 10px;

          li {
            list-style: square;
            padding: 20px 0px;
            margin: 0;
            border: none;
          }
        }
      }
    }

    // ul {
    //   list-style: none;
    //   display: flex;
    //   // flex-direction: column;
    //   gap: 5px;
    // }

    .arrow {
      transform: rotate(45deg);
      display: absolute;
      -webkit-transform: rotate(45deg);
      height: 100px;
      width: 100px;
    }

    span {
      display: inline-block;
      // float: left;
      align-items: center;
      justify-content: center;
      align-content: center;
      // justify-items: center;
      width: 60px;
      height: 60px;
      // padding: 20px;
      border: solid white 2px;
      border-radius: 15px;
      text-align: center;
      // margin: 0px 10px;
      font-family: var(--font-basteleurB);
      font-size: 1.5rem;
      // margin-bottom: 0.5rem;
      text-transform: uppercase;
      margin: 0px 5px;
    }

    .keyboardCommands {
      li {
        display: flex;
        align-items: center;
      }
    }

    .heavy {
      font-family: var(--font-basteleurB);
    }
  }

  .backToMapHelp {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    bottom: 0;
    left: 7vw;
    padding-bottom: 5vh;
    max-width: 40%;
    text-align: left;
    // gap: 20px;
  }

  .backToMapHelp,
  .userHelp {
    h3 {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      // text-align: center;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }

  .userHelp {
    position: absolute;
    display: flex;
    // align-items: flex-end;
    align-items: flex-end;
    flex-direction: column;
    bottom: 0;
    right: 8vw;
    padding-bottom: 5vh;
    max-width: 40%;
    text-align: right;
    // gap: 20px;
  }
} // end helpOverlay

.triangle {
  width: 0;
  height: 0;
  border-bottom: 104px solid blue;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.triangleDown {
  width: 0;
  height: 0;
  border-top: 104px solid blue;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.mobileNotSupported {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    font-size: 3rem;
  }

  p {
    line-height: 1.7rem;
  }
}
