/* sketch.module.scss */
.soundObject {
  // color: $primary-color;
  font-size: 24px;
  background-color: orange;
  height: 300px;
  width: 300px;
  // border-radius: 300px;
  border-radius: 100%;
}

.statusBar {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  // div {
  //   display: grid;
  // }
}
