.noClick {
  pointer-events: none;
}

.initiate {
  display: grid;
  height: 97vh;
  justify-content: center; /* aligns the items horizontally */
  align-items: center; /* aligns the items vertically */
  // background: rgb(43, 23, 56);
  // background: radial-gradient(
  //   circle,
  //   rgba(43, 23, 56, 1) 0%,
  //   rgba(18, 22, 52, 1) 0%,
  //   rgba(0, 0, 0, 1) 100%
  // );
}

.projection {
  position: absolute;
  z-index: 999999;
  left: 0;
  right: 0;
  /* top: 0;   */
  bottom: 2vh;
  margin: auto;
  // pointer-events: none;
  text-align: center;
  // opacity: 0;
}

.projection a {
  color: white;
  text-decoration: none;
}

.projection a:hover {
  color: yellow;
  text-decoration: none;
}

.projectionStart {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 3vw;
  font-family: var(--font-basteleurM);
}

.projectionStart:hover {
  cursor: pointer;
}

.star {
  opacity: 0;
  font-size: 10vw;
  // text-shadow: #fc0 1px 0 10px;
}

.star:hover {
  cursor: pointer;
}

.occult {
  // opacity: 0.4;
  pointer-events: none;
  mix-blend-mode: soft-light;
}

.earthsong {
  position: absolute;
  left: 0;
  right: 0;
  top: 10vh;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  font-size: 15vw;
}

.instruction {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 0;   */
  bottom: 2vh;
  margin: auto;
  z-index: 1000;
  // pointer-events: none;
  text-align: center;
  // opacity: 0;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 230, 0),
    0 0 82px rgb(255, 230, 0),
    0 0 92px rgb(255, 230, 0),
    0 0 102px rgb(255, 230, 0),
    0 0 151px rgb(255, 230, 0);
}
