/* sketch.module.scss */
.soundObject {
  // color: $primary-color;
  font-size: 24px;
  background-color: orange;
  height: 300px;
  width: 300px;
  // border-radius: 300px;
  border-radius: 100%;
}

.statusBar {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
  div {
    display: flex;
    flex-direction: column;
    // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 5px;
    padding: 20px;
    align-items: left;
    justify-items: center;
    justify-content: top;
    font-size: 1.7vw;
    text-align: left;
    // opacity: 0.5;

    .soundNumber {
      font-size: 3vw;
    }

    div {
      padding: 0px;
    }
  }
}

.reversed {
  color: black;
}
