/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

a {
  color: rgba(255, 0, 89, 1);

  &:hover {
    color: rgba(255, 0, 89, 1);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-basteleurM);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: black; */
  color: white;
  background: rgb(43, 23, 56);
  background: radial-gradient(
    circle,
    rgba(43, 23, 56, 1) 0%,
    rgba(18, 22, 52, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.7rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 6vw;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 1.5vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}  */

button {
  /* -webkit-appearance: none; */
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

/* form {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(auto-fill, minmax(10px, 1fr));
} */

#map-container {
  /* height: 100%; */
  height: 100vh;
  width: 100%;
  /* background-color: lightgrey; */
  /* position: inherit; */
  background: rgb(43, 23, 56);
  background: radial-gradient(
    circle,
    rgba(43, 23, 56, 1) 0%,
    rgba(0, 0, 128, 1) 0%,
    rgba(144, 70, 193, 1) 100%
  );
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  /* font-family: monospace; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.displayCoords {
  position: absolute;
  /* font-family: sans-serif; */
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  width: 200px;
  border: 2px solid black;
  font-size: 20px;
  color: #222;
  background-color: #fff;
}

.soundsList {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.soundItem {
  border: 1px solid black;
  padding: 30px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* button {
  font-size: 24px;
  padding: 20px 30px;
  background-color: rgb(255, 57, 90);
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-radius: 15px;
  border: 3px rgb(149, 0, 255) solid;
}

button:hover {
  background-color: rgb(177, 232, 49);
} */

/* .react-p5-wrapper {
  pointer-events: none;
} */

.box {
  /* width: 200px;
  height: 200px; */
  /* border-radius: 50%; */
  /* background: var(--accent); */
}

.earthsongLogo {
  color: blue;
}

.reversed {
  /* unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left; */

  /* -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl; */

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  /* text-align: right;
  justify-self: right;
  align-content: right; */
  color: black;
}

/* .react-p5-wrapper {
  z-index: -99999;
} */

/* .mapboxgl-ctrl-logo {
  display: none !important;
} */

.mapboxgl-ctrl {
  display: none !important;
}

.successMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  font-size: 6vw;
}

.closeButton {
  font-family: 'Noto Sans Linear A', sans-serif;
  font-size: 3rem;
  bottom: 0;
  text-align: right;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding: 0px 15px 0px 0px;
  color: white;

  &:hover {
    color: black;
  }
}

.closeButtonAlt {
  font-family: 'Noto Sans Linear A', sans-serif;
  font-size: 3rem;
  bottom: 0;
  text-align: right;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding: 0px 15px 0px 0px;
  color: white;

  &:hover {
    color: rgba(255, 0, 89, 1);
  }
}

.welcomeMessage {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  pointer-events: none;
  text-align: center;
  opacity: 0;
  font-size: 6vw;
}
